/*
980px grid system ~ Core CSS.
28 Columns ~ Margin left: 5px ~ Margin right: 5px

Based on the 960.gs grid system - http://960.gs/
by Nathan Smith

Created by the Grid System Generator - v1.04
Learn more ~ http://www.gridsystemgenerator.com/
*/

/*
Forces backgrounds to span full width,
even if there is horizontal scrolling.
Increase this if your layout is wider.

Note: IE6 works fine without this fix.
*/
body {
	min-width: 960px;
}

/* =Containers
--------------------------------------------------------------------------------*/
.container_28
{
	margin-left: auto;
	margin-right: auto;
	width: 980px;
}

/* =Grid >> Global
--------------------------------------------------------------------------------*/
.grid_1,
.grid_2,
.grid_3,
.grid_4,
.grid_5,
.grid_6,
.grid_7,
.grid_8,
.grid_9,
.grid_10,
.grid_11,
.grid_12,
.grid_13,
.grid_14,
.grid_15,
.grid_16,
.grid_17,
.grid_18,
.grid_19,
.grid_20,
.grid_21,
.grid_22,
.grid_23,
.grid_24,
.grid_25,
.grid_26,
.grid_27,
.grid_28 {
	display: inline;
	float: left;
	margin-left: 5px;
	margin-right: 5px;
}

.push_1, .pull_1,
.push_2, .pull_2,
.push_3, .pull_3,
.push_4, .pull_4,
.push_5, .pull_5,
.push_6, .pull_6,
.push_7, .pull_7,
.push_8, .pull_8,
.push_9, .pull_9,
.push_10, .pull_10,
.push_11, .pull_11,
.push_12, .pull_12,
.push_13, .pull_13,
.push_14, .pull_14,
.push_15, .pull_15,
.push_16, .pull_16,
.push_17, .pull_17,
.push_18, .pull_18,
.push_19, .pull_19,
.push_20, .pull_20,
.push_21, .pull_21,
.push_22, .pull_22,
.push_23, .pull_23,
.push_24, .pull_24,
.push_25, .pull_25,
.push_26, .pull_26,
.push_27, .pull_27 {
	position: relative;
}

/* =Grid >> Children (Alpha ~ First, Omega ~ Last)
--------------------------------------------------------------------------------*/
.alpha {margin-left: 0;}
.omega {margin-right: 0;}

/* =Grid >> 28 Columns
--------------------------------------------------------------------------------*/
.container_28 .grid_1 {width: 25px;}
.container_28 .grid_2 {width: 60px;}
.container_28 .grid_3 {width: 95px;}
.container_28 .grid_4 {width: 130px;}
.container_28 .grid_5 {width: 165px;}
.container_28 .grid_6 {width: 200px;}
.container_28 .grid_7 {width: 235px;}
.container_28 .grid_8 {width: 270px;}
.container_28 .grid_9 {width: 305px;}
.container_28 .grid_10 {width: 340px;}
.container_28 .grid_11 {width: 375px;}
.container_28 .grid_12 {width: 410px;}
.container_28 .grid_13 {width: 445px;}
.container_28 .grid_14 {width: 480px;}
.container_28 .grid_15 {width: 515px;}
.container_28 .grid_16 {width: 550px;}
.container_28 .grid_17 {width: 585px;}
.container_28 .grid_18 {width: 620px;}
.container_28 .grid_19 {width: 655px;}
.container_28 .grid_20 {width: 690px;}
.container_28 .grid_21 {width: 725px;}
.container_28 .grid_22 {width: 760px;}
.container_28 .grid_23 {width: 795px;}
.container_28 .grid_24 {width: 830px;}
.container_28 .grid_25 {width: 865px;}
.container_28 .grid_26 {width: 900px;}
.container_28 .grid_27 {width: 935px;}
.container_28 .grid_28 {width: 970px;}

/* =Prefix Extra Space >> 28 Columns
--------------------------------------------------------------------------------*/
.container_28 .prefix_1 {padding-left: 35px;}
.container_28 .prefix_2 {padding-left: 70px;}
.container_28 .prefix_3 {padding-left: 105px;}
.container_28 .prefix_4 {padding-left: 140px;}
.container_28 .prefix_5 {padding-left: 175px;}
.container_28 .prefix_6 {padding-left: 210px;}
.container_28 .prefix_7 {padding-left: 245px;}
.container_28 .prefix_8 {padding-left: 280px;}
.container_28 .prefix_9 {padding-left: 315px;}
.container_28 .prefix_10 {padding-left: 350px;}
.container_28 .prefix_11 {padding-left: 385px;}
.container_28 .prefix_12 {padding-left: 420px;}
.container_28 .prefix_13 {padding-left: 455px;}
.container_28 .prefix_14 {padding-left: 490px;}
.container_28 .prefix_15 {padding-left: 525px;}
.container_28 .prefix_16 {padding-left: 560px;}
.container_28 .prefix_17 {padding-left: 595px;}
.container_28 .prefix_18 {padding-left: 630px;}
.container_28 .prefix_19 {padding-left: 665px;}
.container_28 .prefix_20 {padding-left: 700px;}
.container_28 .prefix_21 {padding-left: 735px;}
.container_28 .prefix_22 {padding-left: 770px;}
.container_28 .prefix_23 {padding-left: 805px;}
.container_28 .prefix_24 {padding-left: 840px;}
.container_28 .prefix_25 {padding-left: 875px;}
.container_28 .prefix_26 {padding-left: 910px;}
.container_28 .prefix_27 {padding-left: 945px;}

/* =Suffix Extra Space >> 28 Columns
--------------------------------------------------------------------------------*/
.container_28 .suffix_1 {padding-right: 35px;}
.container_28 .suffix_2 {padding-right: 70px;}
.container_28 .suffix_3 {padding-right: 105px;}
.container_28 .suffix_4 {padding-right: 140px;}
.container_28 .suffix_5 {padding-right: 175px;}
.container_28 .suffix_6 {padding-right: 210px;}
.container_28 .suffix_7 {padding-right: 245px;}
.container_28 .suffix_8 {padding-right: 280px;}
.container_28 .suffix_9 {padding-right: 315px;}
.container_28 .suffix_10 {padding-right: 350px;}
.container_28 .suffix_11 {padding-right: 385px;}
.container_28 .suffix_12 {padding-right: 420px;}
.container_28 .suffix_13 {padding-right: 455px;}
.container_28 .suffix_14 {padding-right: 490px;}
.container_28 .suffix_15 {padding-right: 525px;}
.container_28 .suffix_16 {padding-right: 560px;}
.container_28 .suffix_17 {padding-right: 595px;}
.container_28 .suffix_18 {padding-right: 630px;}
.container_28 .suffix_19 {padding-right: 665px;}
.container_28 .suffix_20 {padding-right: 700px;}
.container_28 .suffix_21 {padding-right: 735px;}
.container_28 .suffix_22 {padding-right: 770px;}
.container_28 .suffix_23 {padding-right: 805px;}
.container_28 .suffix_24 {padding-right: 840px;}
.container_28 .suffix_25 {padding-right: 875px;}
.container_28 .suffix_26 {padding-right: 910px;}
.container_28 .suffix_27 {padding-right: 945px;}

/* `Push Space >> 28 Columns
--------------------------------------------------------------------------------*/
.container_28 .push_1 {left: 35px;}
.container_28 .push_2 {left: 70px;}
.container_28 .push_3 {left: 105px;}
.container_28 .push_4 {left: 140px;}
.container_28 .push_5 {left: 175px;}
.container_28 .push_6 {left: 210px;}
.container_28 .push_7 {left: 245px;}
.container_28 .push_8 {left: 280px;}
.container_28 .push_9 {left: 315px;}
.container_28 .push_10 {left: 350px;}
.container_28 .push_11 {left: 385px;}
.container_28 .push_12 {left: 420px;}
.container_28 .push_13 {left: 455px;}
.container_28 .push_14 {left: 490px;}
.container_28 .push_15 {left: 525px;}
.container_28 .push_16 {left: 560px;}
.container_28 .push_17 {left: 595px;}
.container_28 .push_18 {left: 630px;}
.container_28 .push_19 {left: 665px;}
.container_28 .push_20 {left: 700px;}
.container_28 .push_21 {left: 735px;}
.container_28 .push_22 {left: 770px;}
.container_28 .push_23 {left: 805px;}
.container_28 .push_24 {left: 840px;}
.container_28 .push_25 {left: 875px;}
.container_28 .push_26 {left: 910px;}
.container_28 .push_27 {left: 945px;}

/* `Pull Space >> 28 Columns
--------------------------------------------------------------------------------*/
.container_28 .pull_1 {left: -35px;}
.container_28 .pull_2 {left: -70px;}
.container_28 .pull_3 {left: -105px;}
.container_28 .pull_4 {left: -140px;}
.container_28 .pull_5 {left: -175px;}
.container_28 .pull_6 {left: -210px;}
.container_28 .pull_7 {left: -245px;}
.container_28 .pull_8 {left: -280px;}
.container_28 .pull_9 {left: -315px;}
.container_28 .pull_10 {left: -350px;}
.container_28 .pull_11 {left: -385px;}
.container_28 .pull_12 {left: -420px;}
.container_28 .pull_13 {left: -455px;}
.container_28 .pull_14 {left: -490px;}
.container_28 .pull_15 {left: -525px;}
.container_28 .pull_16 {left: -560px;}
.container_28 .pull_17 {left: -595px;}
.container_28 .pull_18 {left: -630px;}
.container_28 .pull_19 {left: -665px;}
.container_28 .pull_20 {left: -700px;}
.container_28 .pull_21 {left: -735px;}
.container_28 .pull_22 {left: -770px;}
.container_28 .pull_23 {left: -805px;}
.container_28 .pull_24 {left: -840px;}
.container_28 .pull_25 {left: -875px;}
.container_28 .pull_26 {left: -910px;}
.container_28 .pull_27 {left: -945px;}

/* `Clear Floated Elements
----------------------------------------------------------------------------------------------------*/
/* http://sonspring.com/journal/clearing-floats */
.clear {
	clear: both;
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}

/* http://www.yuiblog.com/blog/2010/09/27/clearfix-reloaded-overflowhidden-demystified */
.clearfix:before,
.clearfix:after {
	content: "\0020";
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}
.clearfix:after {
	clear: both;
}
/*
The following zoom:1 rule is specifically for IE6 + IE7.
Move to separate stylesheet if invalid CSS is a problem.
*/
.clearfix {
	zoom: 1;
}
