#page,#footer{
 	overflow:hidden;
}
* html #page, * html #header, * html #footer { height: 1%; }

/* 2 columns fixed layout
 -------------------------------------------------------------------------------------------------*/
.g-col2-mr{ 
	/* note: g-col3-mr means the main column lies on the right side! */
	overflow:hidden;
	zoom:1;
}
.g-col2-mr .col-m{
	/* make sure that col-m's height is 0 in order to float col-aside correctly */
	/* margin-computed by aside-x and gutters */
	margin-left:192px; /* 204 + 0 */
}
.g-col2-mr .col-m-inner{
	float: right; 
	width: 100%; 
}
.g-col2-mr .col-aside{
	float:left;	
}
.g-col2-mr .col-aside-x{
	/* default width - you can override it in your page stylesheet */
	width:192px;
}

/* equal height column layout,notice that we use col-m-inner here instead of col-m which is different from layout-fluid-3col-mm.css,
   because col-m's height is 0
 -----------------------------------------------------------------------------------------------------------------------------------*/
.g-equalh .col-aside,.g-equalh .col-m-inner{
	padding-bottom: 32767px;
    margin-bottom: -32767px;
}
