#page{
	margin:40px auto;
	width:900px;
	min-height:770px;
	height:auto !important;
	height:770px;
}
.col-m-inner{
	position:relative;
	min-height:770px;
	height:auto !important;
	height:770px;
	background:url(../images/anothersecret/bg-main.gif) repeat-y;
}
.g-col2-mr .col-aside{
	height:770px;
	background:url(../images/anothersecret/bg-aside.gif) no-repeat;
}

/* ×ó±ßµ¼º½
------------------------------------*/
#nav{
	margin:260px 0 0 22px;
}
#nav a{display:block;width:156px;height:26px;padding-top:24px;background:url(../images/anothersecret/bg-menu.png) no-repeat;}
#nav a.on,#nav a:hover{background:url(../images/anothersecret/bg-menu-on.png) no-repeat;}
#nav span{display:block;height:26px;margin:0 auto;}
.menu-home span{background:url(../images/anothersecret/menu-home.jpg) no-repeat;width:44px;}
.menu-about span{background:url(../images/anothersecret/menu-about.jpg) no-repeat;width:65px;}
.menu-news span{background:url(../images/anothersecret/menu-news.jpg) no-repeat;width:39px;}
.menu-dolls span{background:url(../images/anothersecret/menu-dolls.jpg) no-repeat;width:35px;}
.menu-cloth span{background:url(../images/anothersecret/menu-cloth.jpg) no-repeat;width:36px;}
.menu-acce span{background:url(../images/anothersecret/menu-acce.jpg) no-repeat;width:68px;}
.menu-dairy span{background:url(../images/anothersecret/menu-dairy.png) no-repeat;width:35px;}

.menu-home a.on span{background:url(../images/anothersecret/menu-home-on.jpg) no-repeat;}
.menu-about a.on span{background:url(../images/anothersecret/menu-about-on.jpg) no-repeat;}
.menu-news a.on span{background:url(../images/anothersecret/menu-news-on.jpg) no-repeat;}
.menu-dolls a.on span{background:url(../images/anothersecret/menu-dolls-on.jpg) no-repeat;}
.menu-cloth a.on span{background:url(../images/anothersecret/menu-cloth-on.jpg) no-repeat;}
.menu-acce a.on span{background:url(../images/anothersecret/menu-acce-on.jpg) no-repeat;}
.menu-dairy a.on span{background:url(../images/anothersecret/menu-dairy-on.jpg) no-repeat;}

#header{
	position:absolute;
	top:120px;
	left:0px;
	width:100%;
	text-align:center;
}

#topic,#footer{
	padding-left:25px;
}
#topic{
	height:700px;
	overflow:hidden;
}
/* #footer
-------------------------------------------------------------------------------------------------*/
#footer{
	padding-left:25px;
	text-align:center;
	height:70px;
	line-height:70px;
	overflow:hidden;
}