/* Begin Typography & Colors */
/*
 * { margin: 0; padding: 0; } 
 */
body { background: #fff; font: normal 12px "Verdana", sans-serif;color:#4c4c4c; }
input, button, textarea, select {  font: normal 12px/12px "Verdana", sans-serif; color:#2d3538; vertical-align: middle; }
legend { display: none; }
fieldset { border: none; }
ul, ol { list-style: none; }
ol { list-style-type: decimal;}
table { border-collapse: collapse; width: 100%; }
hr { display: none; }
img { padding: 0px; margin: 0px; border: none; text-align: center;}

a:link { text-decoration: none; color : #cc6600; border: 0px; -moz-outline-style: none;}
a:active { text-decoration: underline; color : #cc6600; border: 0px; -moz-outline-style: none;}
a:visited { text-decoration: none; color : #cc6600; border: 0px; -moz-outline-style: none;}
a:hover	{ text-decoration: underline; color : #4779ac; border: 0px; -moz-outline-style: none;} 
a:focus { outline: none;-moz-outline-style: none;}

h1, h2, h3, h4 { font-family: Arial, Helvetica, sans-serif; }