body{background-color:#000;color:#fff;}
figure{margin:0;}
figure img{
	padding: 5px;
	background-color:#ccc;
}
figure img:hover{
	background-color:#eee;
}

.wdg-frame-nav{
	position:absolute;
	right:130px;
	top:10px;
	height:400px;
	width:22px;
	line-height:20px;
	text-align:center;
	font-size:95%;
	z-index:100;
}
.frame-view-1 .wdg-frame-nav{
	right:auto;
	left:-20px;
}
.wdg-frame-nav a{
	display:inline-block;
	width:20px;
	height:20px;
	background-color:#999;
	border:1px solid #666;
	color:#fff;
	margin:5px 0;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	-webkit-transition: all 0.7s ease-in-out;
	-moz-transition: all 0.7s ease-in-out;
	-o-transition: all 0.7s ease-in-out;
	-ms-transition: all 0.7s ease-in-out;
	transition: all 0.7s ease-in-out;
}
.wdg-frame-nav a.on,.wdg-frame-nav a:hover{
	background-color:#000;
	color:red;
	font-weight:bold;
}
.wdg-entry{
	position:absolute;
	top:20%;
	left:15%;
	text-align:left;
	padding:5px;
	max-width:460px;
	display:none;
}
.wdg-entry-nav{
	position:absolute;
	right:130px;
	bottom:8px;
	opacity:0.7;
}
.wdg-entry-nav a{
	display:inline-block;
	width:12px;
	height:12px;
	background-color:#000;
	border:1px solid #eee;
	text-align:center;
	color:#fff;
	margin:0 3px;
}
.wdg-entry-nav a.on{
	background-color:red;
}
.wdg-entry-rb{
	top:auto;
	left:auto;
	bottom:20%;
	right:15%;
}
.wdg-entry .wdg-hd,.wdg-entry .wdg-txt{
	position:relative;
	z-index:2;
}
.wdg-entry .bg{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background-color:#000;
	opacity:0.8;
	z-index:1;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
}
.wdg-entry:hover .bg{
	opacity:1;
}
.frame7 .wdg-entry .bg,.wdg-entry-rb .bg{
	background-color:#666633;
	border:1px solid #ffcc99;
}
.wdg-hd{
	font-size:18px;
	font-family: "Microsoft YaHei", "微软雅黑", Simsun, Mingliu, Arial, Helvetica;
	line-height:22px;
	margin-top:10px;
	margin-bottom:10px;
}
.wdg-txt{
	color:#eee;
	line-height:20px;
	margin-bottom:10px;
}
.wdg-entry-rb .wdg-txt{
	color:#ccc;
}
.wdg-player{
	margin-top:25px;
	position:relative;
	max-height:760px;
	height:auto !important;
	height:760px;
}
.wdg-frame,.wdg-pop{
	width:100%;
	max-height:760px;
	overflow:hidden;
	text-align:center;
	position:absolute;
	display:none;
	z-index:0;
}
.frame-on{
	z-index:1;
	display:block;
}
.wdg-frame h3,.wdg-frame h4{
	position:absolute;
	writing-mode: tb-rl;
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	transform: rotate(90deg);
}
.wdg-frame h3{
	top:135px;
	left:0;
	font-size:18px;
	color:#fff;
	text-shadow: 0px 2px 3px #ccc;
}
.wdg-frame h4{
	bottom:100px;
	right:75px;
	font-size:14px;
	color:#666;
}
.wdg-tip{
	color:red;
	position:absolute;
	bottom:100px;
	left:10px;
	font-family: "Microsoft YaHei", "微软雅黑", Simsun, Mingliu, Arial, Helvetica;
	font-style:italic;
	text-align:left;
}
.frame2{
	text-align:right;
	overflow:visible;
}
.frame3 img{
	position:relative;
	margin-left:50px;
	opacity:0.2;
	-webkit-transition: all 0.7s ease-in-out;
	-moz-transition: all 0.7s ease-in-out;
	-o-transition: all 0.7s ease-in-out;
	-ms-transition: all 0.7s ease-in-out;
	transition: all 0.7s ease-in-out;
	-webkit-transform: scale(0.7);
	-moz-transform: scale(0.7);
	-ms-transform: scale(0.7);
	-o-transform: scale(0.7);
	transform: scale(0.7);
}
.frame3 img.thumb{
	top:50px;
	opacity:0.8;
	-webkit-transform: rotate(10deg) scale(0.6);
	-moz-transform: rotate(10deg) scale(0.6);
	-ms-transform: rotate(10deg) scale(0.6);
	-o-transform: rotate(10deg) scale(0.6);
	transform: rotate(10deg) scale(0.6);
}
.frame3 img.full{
	left:-200px;
}
.frame3 img:hover{
	opacity:1;
	background-color:#333;
		-webkit-transform: scale(0.9);
	-moz-transform: scale(0.9);
	-ms-transform: scale(0.9);
	-o-transform: scale(0.9);
	transform: scale(0.9);
	-webkit-box-shadow: 5px 12px 15px rgba(153, 153, 153, 0.5);
	-moz-box-shadow: 5px 12px 15px rgba(153, 153, 153, 0.5);
	box-shadow: 5px 12px 15px rgba(153, 153, 153, 0.5);
}

/* 浮层 */
.wdg-pop img{
	-webkit-box-shadow: 5px 12px 15px rgba(51, 51, 51, 0.5);
	-moz-box-shadow: 5px 12px 15px rgba(51, 51, 51, 0.5);
	box-shadow: 5px 12px 15px rgba(51, 51, 51, 0.5);
}

.wdg-gate-l,.wdg-gate-r{
	position:absolute;
	top:0;
	left:0;
	background:transparent;
	width:50%;
	height:100%;
	z-index:-1;
}
.wdg-gate-r{
	right:0;
	left:auto;
}

/* image polaroid effect */
.wdg-polaroids img{
	position: relative;
	display:inline-block;
	cursor:pointer;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
.wdg-polaroids img:nth-child(odd){
	-webkit-transform: rotate(15deg) scale(0.7);
	-moz-transform: rotate(15deg) scale(0.7);
	transform:rotate(15deg) scale(0.7);
}
.wdg-polaroids img:nth-child(even){
	-webkit-transform: rotate(-15deg) scale(0.8);
	-moz-transform: rotate(-15deg) scale(0.8);
	transform:rotate(-15deg) scale(0.8);
}
.wdg-polaroids img:nth-child(3n){
	top: 25px;
	-webkit-transform: scale(0.9);
	-moz-transform: scale(0.9);
	transform: scale(0.9);
}
.wdg-polaroids img:nth-child(4n){
	-webkit-transform: rotate(-10deg) scale(0.7);
	-moz-transform: rotate(-10deg)scale(0.7);
	transform:rotate(-10deg) scale(0.7);
	left: -25px;
}
.wdg-polaroids img:nth-child(5n){
	top:-50px;
	left: -100px;
	-webkit-transform: scale(0.9);
	-moz-transform: scale(0.9);
	transform: scale(0.9);
}
.wdg-polaroids img:nth-child(6n){
	top:-100px;
	left: -100px;
	-webkit-transform: rotate(-12deg) scale(0.7);
	-moz-transform: rotate(-12deg) scale(0.7);
	transform: rotate(-12deg) scale(0.7);

}
.wdg-polaroids img:hover {
	-webkit-transform: scale(1.1) translateY(-5px);
	-moz-transform: scale(1.1) translateY(-5px);
	transform: scale(1.1) translateY(-5px);
	-webkit-box-shadow: 5px 12px 15px rgba(51, 51, 51, 0.5);
	-moz-box-shadow: 5px 12px 15px rgba(51, 51, 51, 0.5);
	box-shadow: 5px 12px 15px rgba(51, 51, 51, 0.5);
	z-index: 5;
}